.space {
  -webkit-animation: bannermove 120s alternate infinite;
     -moz-animation: bannermove 120s alternate infinite;
      -ms-animation: bannermove 120s alternate infinite;
       -o-animation: bannermove 120s alternate infinite;
          animation: bannermove 120s alternate infinite;
 }
  
 @keyframes bannermove {
  0% {
     margin-left: 0px;
  }
  100% {
     margin-left: -2125px;
  }
  
 }
  
 @-moz-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-webkit-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-ms-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-o-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }

nav a {
  font-style: italic;
}

nav a:hover {
  color: #a100ff !important;
}

nav .main-link {
  margin-left: 30px;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top:-6px;
}

.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
} 

.contact-us-form-container, .contact-us-form-container h6, .contact-us-form-container input {
  font-size: 0.85rem;
}

.contact-us-form-container button {
  background-color: #a100ff !important;
}

.course-btn {
  background-color: #a100ff !important;
  color: #fff !important;
}

input[type=text], input[type=email] {
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
  margin-bottom: 15px;
}

textarea { 
  margin-bottom: 15px;
  border-style: none !important;
  border-bottom: 2px solid !important; 
  border-radius: 0 !important;
  resize: none;
  overflow: auto !important;        
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
	box-shadow: none !important;
  border-color: #a100ff !important;
}

iframe {
  min-height: 300px;
}

footer span {
  font-style: italic;
  font-size: 0.85rem;
}

@media only screen and (min-width: 992px) {
  footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}